:root {
    --canvas-color: #ff0000;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #390000;
    /* dunkler Hintergrund für Neon-Effekt */
    overflow: hidden;
}

#background-canvas {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in;
}

#background-canvas.canvas-loaded {
    opacity: 1;
}